.App {
  text-align: center;
  height: 500px;
  width: 753px;
  position: relative;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background: rgba(51, 170, 51, .4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.endturn-button {
  position: absolute;
  right: 0;
  bottom: -80px;
  height: 80px;
  width: 260px;
  font-size: 60px;
}

.shop-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.shop-pokemon-container {
  position: absolute;
  right: 100px;
  bottom: -15px;
}

.shop-pokemon {
  margin: 20px;
}

.player-side-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.team-slots-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: 70px;
}

.team-slot {
  width: 80px;
  height: 80px;
  margin: 20px;
  background-color: blue;
}